body{
     background-image: url('Images/login2.jpg');
background-position:center;
background-attachment: fixed;
height: auto;

}


.navbar ul{
    background-attachment: ;
    list-style-type: none;
    padding: 20px 60px 20px 0px ;
    overflow: hidden;
}


.navbar span{
    display: inline-block;
    padding-left: 28%;
    font-size: x-large;
    font-variant: small-caps;
    color: rgb(108, 185, 236);
    font-weight: bold;
}



.navbar li{
    float: left;
}

.navbar  .right{
    float: right;
}
.navbar  .search{
    position: relative;
    height: 25px;
    border-radius: 10px;
}
 .navbar .search input{
     font-weight: bold;
     border-radius: 20px;
 }
 .navbar .search .icon{
     margin-left: -28px;
     margin-top: -2px;
     position: absolute;
     height: 30px;
     width: 30px;
     border-radius: 50%;
     background: linear-gradient(90deg,rgb(20, 12, 12),black);
     color: white;
 }
 .remember{
     height: 20px;
     color: wheat;
 }

.navbar li a{
    font-size: medium;
    color: rgb(220, 213, 238);
    font-weight: bold;
    text-align: center;
    padding: 34px 35px;
    text-decoration: none;
}
.navbar a.active{
    background-color: rgb(238, 203, 89);
    color: black;
}
.navbar li a:hover:not(.active){
    background-color: greenyellow;
    color: black;
}


.dropdowncontent{
    display: none;
    position: absolute;

}
.dropdowncontent a{
    border-radius: 30px;
    width: 90px;
    height: 10px;
    font-size: xx-small;
    color: wheat;
    display: block;
    
}
.dropdown:hover .dropdowncontent {
    margin-top: 30px;
    display: block;
}
.dropdown:hover .dropdowncontent a:hover:nth-child(odd){
    background:linear-gradient(68deg,rgb(223, 231, 110),rgb(234, 54, 250));
}
.dropdown:hover .dropdowncontent a:hover:nth-child(even){
    background:linear-gradient(60deg,rgb(91, 222, 245),rgb(89, 55, 241));
}

.inner{
    justify-content: center;
    text-align: center;
    margin-top: -100px;
}
.container{
display: flex;
align-items: center;
justify-content: center;
    height: 470px;
    padding: 20px 20px 0px 20px;
}

.inner h1{
    margin-top: 160px;
    margin-bottom: -50px;
    color: wheat;
}
.user{
    margin-top: 90px; 
  }
 
  
#error{
    color: red;
    margin-left: -28px;
    
}
.user input{
    width: 260px;
    height: 30px;
    border-radius:4px;
    margin-bottom: 10px;
    margin-left: 4px;

}
.pass input{
    margin-left: 4px;
    width: 260px;
    height: 30px;
    border-radius:4px;
    margin-bottom: 10px;

}

.login{
margin-top:10px ;
margin-left: -50px;
padding: 2px 6px 24px 65px;
} 

.login button{
    background-color: rgb(122, 206, 240);
    color:black;
    font-size: medium;
    width: 260px;
    height: 30px;
border-radius:15px;
box-shadow: 0px 5px rgb(109, 110, 107);
outline: none;
    
}


.login button:hover{
    color: black;
   background:linear-gradient(70deg,rgb(23, 221, 139),rgb(209, 226, 51),green);
   font-weight: bold;
   
}
.login button.active{
    background-color: red;
    transform: translateY(7px);
}

.inner h5{
    margin-top: -5px;
    margin-bottom: -50px;
    color: wheat;
}
.socialmedia{
    margin-top: 60px;
    padding: 20px 20px 20px 20px ;
}

.media{
    border-radius: 30px;
    width: 90px;
    height: 30px;
    color: wheat;
}
.media:hover{
    color: black;
    font-weight: bold;
}
#facebook{
    width: 260px;
    height: 30px;
    background-color: rgb(49, 102, 248);
    margin-bottom: 10px;
}

#google{
    width: 260px;
    height: 30px;
    background-color: rgb(230, 84, 84);
}

#facebook:hover{
    background: linear-gradient(34deg,blue,rgb(52, 216, 238));

}
#google:hover{
    background: linear-gradient(50deg,green,blue,red,yellow);

}